li {
   font-weight: bold; 
}
header {
    text-align: center;
    margin: 20px;
    padding: 20px;
    max-width: 100%;
    background: beige
}
.card-photo {
    max-width: 100%;
}
#curriculum-card-content {
    text-align: left;
    max-width: 50%;  
}
.mode-instructions-card img {
   width: 100%;
   display: block;
}
.mode-instructions-card {
    width: 300px;
    overflow: hidden;
    border-radius: 12px;
    background-color: rgb(245, 239, 220);
    margin: 10px;
}
.mode-card-content {
    padding-left: 10px;
}
.things-needed-card {
width: 300px;
border-radius: 12px;
background-color: rgb(128, 128, 128);
overflow: hidden;
margin: 10px;
box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.things-needed-card img {
width: 100%;
display: block;
}
.things-needed-content {
padding-left: 10px;
}